#everything{
    background-color: white;
    padding: 3%;
    font-family: ;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

#heading{
    font-family: "Plus Jakarta Sans", sans-serif;    
    font-size: 48px;
}

#subheading{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
}

#automated{
    width: 32%;    
    height: 430px;
    background-color: #d8f4ff;
    border-radius: 30px;    
}

#automatedtext{
    padding-top: 15%;
    padding-left: 7%;
}

#fixed{
    width: 32%;    
    height: 430px;
    background-color: #f1f6f7;
    border-radius: 30px;
}

#fixedtext{
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 15%;
}

#goal{
    width: 32%;    
    height: 430px;
    background-color: #d7ffef;
    border-radius: 30px;
}

#goaltext{
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 15%;
}

#emergency{
    width: 32%;    
    height: 430px;
    background-color: #fbebff;
    border-radius: 30px;
}

#emergencytext{
    padding-top: 15%;
    padding-left: 7%;
    padding-right: 10%;
}

#dollar{
    width: 32%;    
    height: 430px;
    background-color: #fcfcfc;
    border-radius: 30px;
}

#dollartext{
    padding-top: 15%;
    padding-left: 7%;
}

#rent{
    width: 32%;    
    height: 430px;
    background-color: #ffedd6;
    border-radius: 30px;
}

#renttext{
    padding-top: 15%;
    padding-left: 7%;
}

.neue{
    font-family: "Comic Neue";
    font-size: 24px;
    font-weight: bolder;
}

.jakartasmall{
     font-family: "Plus Jakarta Sans", sans-serif;
     font-size: 14px;
}

#interestbutton{
    justify-self: center;
    /* justify-content: center; */
    background-color: blue;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 25px;
    width: auto;
    height: auto;
}

#plus{
    padding-top: 15px;
}


#everything2{
    padding: 3%;
    color: white;
}

#investify{
    font-family: "Plus Jakarta Sans", sans-serif;  
    font-size: 16px;
    background-color: #ffb8ff;
    color: #6624cc;
    width: 8vw;
    height: 4vh;
    text-align: center;
    border-radius: 25px;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 0.7%;
    display: flex;
    gap: 10px;
    align-content: center;
    justify-content: center;
}

#start{
    width: 60vw;
}

#stinv{
    font-size: 64px;
    font-family: "Comic Neue", sans-serif;
    height: 15vh;
    font-weight: 600px;
}

#pinv{
    font-family: "Plus Jakarta Sans", sans-serif;  
    font-size: 16px;
    width: 35vw;
    /* font-weight: 300px; */
}

.box{
    width: 32%;    
    height: 430px;    
    border-radius: 30px;   
}

.no1{
    background-color: #7913e5;
    align-content: center;
}

.no1-imgs{
    width: 70%;
    height: 22%;
    justify-self: center;
}

.no2{
    background-color: #d8f4ff;
}

.no3{
    background-color: #ffc049;
    align-content: end;
}

#just{
    width: 100%;
    display: flex;
    justify-content: center;
}

#undertext{
    display: flex;
    gap: 30px;
}

.text{
    font-size: 16px;
    font-family: "Plus Jakarta Sans", sans-serif;  
    width: 32%;
    
}

.smallhead{
    height: 2vh;   
}

#sp1{
    margin-right: 3vw;
}

#sp2{
    margin-right: 1.8vw;
}

#sp3{
    margin-right: 4vw;
}